<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diskominfosantik BekasiKab</title>
    <link rel="icon" href="image/bks1.png" type="image/x-icon" />
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm fixed-top" style="background-color:#2a3f54 ;">
      <div class="container">
        <a class="navbar-brand" href="#"></a>
          <img src="image/logo.png" alt="Bootstrap" width="100"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profil.html">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="berita.html">Berita</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="layanan.html">Layanan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="faq.html">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="kontak.html">Kontak</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Faq -->
    <section>
      <div class="container mt-5">
          <h2 class="text-center mb-4 fw-bold">Frequently Asked Questions (FAQ)</h2>
          <div class="accordion accordion-flush" id="faqAccordion">
              <div class="accordion-item border-0 shadow-sm mb-3">
                  <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button text-white rounded collapsed" type="button" data-bs-toggle="collapse" style="background-color: #2a3f54;"
                          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <i class="bi bi-question-circle-fill me-2"></i>Apa itu Diskominfosantik?
                      </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                      <div class="accordion-body bg-light">
                          Diskominfo Santik adalah instansi yang bertugas mengelola informasi dan teknologi untuk mendukung perkembangan komunitas.
                      </div>
                  </div>
              </div>
              <div class="accordion-item border-0 shadow-sm mb-3">
                  <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button text-white rounded collapsed" type="button" data-bs-toggle="collapse" style="background-color: #2a3f54;"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <i class="bi bi-telephone-fill me-2"></i>Bagaimana cara menghubungi Diskominfosantik Kabupaten Bekasi?
                      </button> 
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                      <div class="accordion-body bg-light">
                          Anda dapat menghubungi kami melalui form kontak di situs web ini atau melalui media sosial kami di Facebook, Instagram, dan TikTok.
                      </div>
                  </div>
              </div>
              <div class="accordion-item border-0 shadow-sm mb-3">
                  <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button text-white rounded collapsed" type="button" data-bs-toggle="collapse" style="background-color: #2a3f54;"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <i class="bi bi-gear-fill me-2"></i>Layanan apa saja yang disediakan oleh Diskominfosantik?
                      </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                      <div class="accordion-body bg-light">
                          Anda bisa lihat layanan apa saja yang kami berikan pada menu Layanan.
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- FAQ Section End -->

    
  <!-- Footer -->
  <footer style="background-color: #2a3f54;" class="text-light py-5 mt-5 footer-web">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="mb-3">Sitemap</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-light footer-link text-decoration-none">Beranda</a></li>
                    <li><a href="profil.html" class="text-light footer-link text-decoration-none">Profil</a></li>
                    <li><a href="berita.html" class="text-light footer-link text-decoration-none">Berita</a></li>
                    <li><a href="layanan.html" class="text-light footer-link text-decoration-none">Layanan</a></li>
                    <li><a href="faq.html" class="text-light footer-link text-decoration-none">FAQ</a></li>
                    <li><a href="kontak.html" class="text-light footer-link text-decoration-none">Kontak</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <h5 class="mb-3">Sosial Media</h5>
              <div>
                  <a href="https://www.facebook.com/DiskominfosantikKabupatenBekasi" class="text-light me-3 footer-link text-decoration-none">
                      <i class="fbi bi-facebook"></i>
                  </a>
                  <a href="https://www.tiktok.com/@kominfosantik_bekasi.kab" class="text-light me-3 footer-link text-decoration-none">
                      <i class="bi bi-tiktok  "></i>
                  </a>
                  <a href="https://www.instagram.com/diskominfosantik_bekasi.kab/" class="text-light me-3 footer-link text-decoration-none">
                      <i class="bi bi-instagram"></i>
                  </a>
              </div>
          </div>
            <div class="col-md-12 col-lg-4 mb-4 text-md-end">
              <h5 class="mb-3">Diskominfosantik BekasiKab</h5>
              <p class="small">J5QC+7MJ, Sukamahi, Kec. Cikarang Pusat, Kabupaten Bekasi, Jawa Barat 17530</p>
              <p class="small">Telepon : 0895-3425-04298</p>
              <img src="image/logo.png" alt="Logo" width="150" class="footer-logo">
          </div>
        </div>
    </div>
    <div class="text-center py-3" style="background-color: #1f2b3a;">
        <div class="container">
            <small>&copy; 2024 DISKOMINFOSANTIK BEKASIKAB. All rights reserved.</small>
        </div>
    </div>
  </footer>
  <footer style="background-color: #2a3f54;" class="text-light py-5 mt-5 footer-mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 text-center">
                <h5 class="mb-3">Sitemap</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-light footer-link text-decoration-none">Beranda</a></li>
                    <li><a href="profil.html" class="text-light footer-link text-decoration-none">Profil</a></li>
                    <li><a href="berita.html" class="text-light footer-link text-decoration-none">Berita</a></li>
                    <li><a href="layanan.html" class="text-light footer-link text-decoration-none">Layanan</a></li>
                    <li><a href="faq.html" class="text-light footer-link text-decoration-none">FAQ</a></li>
                    <li><a href="kontak.html" class="text-light footer-link text-decoration-none">Kontak</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 text-center">
              <h5 class="mb-3">Sosial Media</h5>
              <div>
                  <a href="https://www.facebook.com/DiskominfosantikKabupatenBekasi" class="text-light me-3 footer-link text-decoration-none">
                      <i class="fbi bi-facebook"></i>
                  </a>
                  <a href="https://www.tiktok.com/@kominfosantik_bekasi.kab" class="text-light me-3 footer-link text-decoration-none">
                      <i class="bi bi-tiktok  "></i>
                  </a>
                  <a href="https://www.instagram.com/diskominfosantik_bekasi.kab/" class="text-light me-3 footer-link text-decoration-none">
                      <i class="bi bi-instagram"></i>
                  </a>
              </div>
          </div>
            <div class="col-md-12 col-lg-4 mb-4 text-md-end text-center">
              <h5 class="mb-3">Diskominfosantik BekasiKab</h5>
              <p class="small">J5QC+7MJ, Sukamahi, Kec. Cikarang Pusat, Kabupaten Bekasi, Jawa Barat 17530</p>
              <p class="small">Email : diskominfo@bekasikab.go.id</p>
              <p class="small">Telepon : 0895-3425-04298</p>
              <img src="image/logo.png" alt="Logo" width="150" class="footer-logo">
          </div>
        </div>
    </div>
    <div class="text-center py-3" style="background-color: #1f2b3a;">
        <div class="container">
            <small>&copy; 2024 DISKOMINFOSANTIK BEKASIKAB. All rights reserved.</small>
        </div>
    </div>
  </footer>
    
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
